*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ddd;
  font-family: sans-serif;
}

#root {
  display: flex;
  margin: 1rem auto;
  padding: 20px;
  max-width: 1200px;
  background-color: #fff;
}

#root > section {
  width: 50%;
}

h2 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

li {
  margin: 0.8rem 0;
}

li > input {
  margin-right: 0.5rem;
}